.black-button {
	background-color: var(--black);
	color: var(--white);

	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 100%;
	letter-spacing: 0%;

	border: 2px solid var(--black);
	border-radius: 8px;
	cursor: pointer;

	box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}

.black-button--differense {
	color: var(--black);
	background-color: transparent;

	box-shadow: none;
}
